.intro{
    display: flex;
    background-color: bisque;
    margin: 5% 10% 10% 5%;

}
.gomy1{
    display: flex;
    margin: 5% 30% 5% ;

}
.intro2{
    display: flex;
    background-color: aquamarine;    
    margin: 5% 20% 5%;
}
.intro3{
}
.gomy3{
    display: flex;
    background-color: antiquewhite;
    border-radius: 5%;
}
table{
    display: flex;
    background-color: rgb(208, 123, 19);
}
video{
margin: 5% 20% 10%;}
.gomy4{
    display: ;
    font-size: larger;
    margin: 10% 40% ;
}